@inject Data.ApplicationDbContext context
@inject UserManager<Customer> UserManager
@using Microsoft.AspNetCore.Identity
@using Hakims_Livs.Models
@using Hakims_Livs.Services
@inject IUser _user
@inject ICart _cart
@inject NavigationManager Navigation

@page "/shoppingcart"

<h3>Kundvagnen</h3>

<AuthorizeView>
    <Authorized>
        <h5>Hej, @context.User.Identity?.Name</h5>

    <div class="productcontainer">
        @foreach (var product in ProductList)
            {
                <div class="productdiv">
                    <div class ="onclick">
                    <img class ="productimage "src= "@product.Image" />
                    <div class ="productname">@product.Name</div>
                    <div class ="productdescription">@product.Description</div>
                    <div class ="productprice">@product.Price kr</div>
                    </div>
                    <button @onclick="() => RemoveProduct(product)" class="cartbutton">Ta bort</button>
                </div>
            }
        </div>

    </Authorized>
</AuthorizeView>

@code {
    //list with user id and product id
    public List<ShoppingCart> ShoppingList = new List<ShoppingCart>();

    public List<Product> ProductList = new List<Product>();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private System.Security.Claims.ClaimsPrincipal user { get; set; }
    private Customer currentCustomer { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        currentCustomer = await _user.GetCurrentUserAsync();

        ShoppingList = new List<ShoppingCart>();

        if (currentCustomer != null)
        {
            //create a list with all shoppinglists where the user id match the loged in user
            ShoppingList = context.ShoppingCarts.Where(s => s.UserId == currentCustomer.Id).ToList();

            ProductList = new List<Product>();
            foreach (var productId in ShoppingList)
            {
                var thisProduct = context.Products.First(p => p.ID == productId.ProductId);
                ProductList.Add(thisProduct);
            }
        }
    }

    public async Task RemoveProduct(Product product)
    {
        await _cart.RemoveProduct(product);
        await OnParametersSetAsync();
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
}
