@inject IUser _user
@inject ICart _cart
@inject IJSRuntime IJS
@page "/printorder"
@page "/printorder/{Id}"


<body onload="window.print()">
    <h1 class="display-2">Order</h1>
   
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Kund:</th>
                                <td>@currentCustomer.FirstName @currentCustomer.LastName</td>
                            </tr>
                            <tr>
                                <th scope="row">Adress:</th>
                                <td>@currentCustomer.Address @currentCustomer.City @currentCustomer.PostalCode</td>
                            </tr>
                            <tr>
                                <th scope="row">Beställningsdatum:</th>
                                <td> @order.TimePlaced.ToString("yyyy-MM-dd")</td>
                            </tr>
                            <tr>
                                <th scope="row">Förfallodatum:</th>
                                <td> @DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")</td>                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Att betala:</th>
                                <td>@totalCart kr</td>
                            </tr>
                            <tr>
                                <th scope="row">Kontonummer:</th>
                                <td>12345678</td>
                            </tr>
                            <tr>
                                <th scope="row">OCR-nummer:</th>
                                <td>@currentCustomer.Email</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>

                <th scope="col">Produkt</th>
                <th scope="col">Antal</th>
                <th scope="col">Pris/styck</th>
                <th scope="col">Totalt</th>
            </tr>
        </thead>
        @foreach (var product in order.Products)
        {
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>@product.Name</td>
                    <td>1</td>
                    <td>@product.Price kr</td>
                    <td>@product.Price kr</td>
                </tr>
            </tbody>
        }
        <tfoot>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <th>Summa att betala:</th>
                <td>@totalCart kr</td>
            </tr>
        </tfoot>
    </table>

</body>

@code {
    [Parameter]
    public string Id{ get; set; }
    public Order order { get; set; }
    public Customer currentCustomer;
    public double totalCart;

    //Updates the price in cart
    protected override async Task OnParametersSetAsync()
    {
        currentCustomer = await _user.GetCurrentUserAsync();
        totalCart = 0;
        if (currentCustomer != null)
        {
            order = context.Orders.Include(x => x.Products).Where(x => x.Id.ToString() == Id).First();
            foreach (var product in order.Products)
            {
                totalCart += product.Price;
            }
        }
    }

}
